.x-filterButton {
    border: 1px solid transparent;
    background: transparent none;
}

.x-filterButtonOver {
    border: 1px solid gray;
    background: #d3d3d3;
}

.x-filterButtonPressed {
    border: 1px solid black;
    background: gray;

}

.x-filterButtonPressed .x-btn-inner {
    color: white;
}

/* ------------- */

.switcherButton, .x-switcherButton {
    border-radius: 0;
    border: 1px solid transparent;
    border-left: 1px solid gray;
    background: transparent none;
}

.last {
    border-right: 1px solid gray;
}

.switcherButtonOver, .x-switcherButtonOver {
    background: lightgray none;
}

.x-switcherButtonPressed {
    background: gray none;
}

.x-switcherButtonPressed .x-btn-inner {
    color: white;
}

/* ------------ */

.overlayButton {
    border: 1px solid transparent;
    background: transparent none;
}

.overlayButtonOver {
    border: 1px solid transparent;
    background: lightgray none;
}

.x-overlayButtonPressed {
    border: 1px solid lightgray;
    background: white none;
}